/* standard style for body etc */
body {
  background-image: url(images/karim-ben-van-mKk2nnZ1EQk-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abril Fatface", serif;
  font-size: 30px;
  color: rgb(97, 71, 57);
  text-shadow: 2px 2px #fef2cd;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abril Fatface", serif;
  font-size: 23px;
  color: rgb(97, 71, 57);
}
h3 {
  font-family: "Abril Fatface", serif;
  color: rgb(65, 55, 31);
}

/* Nav - style */
.main-menu ul {
  width: 100%;
  height: 10%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #fef2cd;
  opacity: 0.5;
  float: left;
}
.main-menu li {
  height: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-menu li a {
  display: block;
  color: rgb(196, 89, 7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Poppins, sans-serif;
}
.main-menu li a:hover {
  background-color: khaki;
}

/* footer-style */
footer {
  background-color: darkolivegreen;
  margin-top: auto;
  margin-bottom: 0px;
  padding: 0px;
  opacity: 0.7;
}
footer p {
  display: flex;
  justify-content: center;
  color: rgb(208, 204, 187);
}

/* Contact - page */
.contact-form {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin: 20px;
  padding: 20px;
  width: 600px;
  height: auto;
  border: 1px solid #543f3f;
  border-radius: 30px;
  background-color: #fff6e2;
}
label {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 25px;
}
input[type="submit"] {
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 10%;
}
input[type="submit"]:hover {
  background-color: rgb(80, 118, 76);
}

/* About me - page */
.about-me-content {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.about-me img {
  width: 500px;
  height: 600px;
  margin: 5px;
  padding: 0px;
  border-radius: 10%;
}
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  background-color: #fff6e2;
  padding: 30px;
  margin: 10px;
  border-radius: 10%;
  width: 1000px;
  height: auto;
}
.tex-about-me {
  margin: 20px;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
}

/* Home-page */
#home {
  margin: 200px;
  display: flex;
  justify-content: center;
}
#home h1 {
  text-align: center;
  font-size: 40px;
}

/* CV - page */
.cv-aside img {
  width: 80%;
  height: auto;
  margin: 5px;
  padding: 5px;
  border: 5px solid rgb(65, 55, 31);
  border-radius: 50%;
}
.CV-content {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 40px;
  max-width: 1900px;
}
.CV-content h1 {
  text-shadow: none;
}
.cv-aside {
  background-color: beige;
  min-width: 200px;
  width: 20%;
  padding: 15px;
  margin-left: 15%;
  border: 2px solid rgb(65, 55, 31);
}
.work-education h3 {
  border-bottom: 3px solid rgb(65, 55, 31);
}
.work-education {
  background-color: rgb(254, 254, 246);
  min-width: 400px;
  width: 40%;
  padding-right: 20px;
  margin-right: 15%;
  border-top: 2px solid rgb(65, 55, 31);
  border-bottom: 2px solid rgb(65, 55, 31);
  border-right: 2px solid rgb(65, 55, 31);
}
.work-education ul {
  list-style: none;
}
.work-education-description {
  border-bottom: 2px solid rgb(80, 118, 76);
  opacity: 0.7;
}
.date {
  padding-right: 30px;
  text-align: right;
  width: 30%;
  float: right;
  font-size: smaller;
}

/* Portfolio - page */
.modal {
  background-color: rgb(240, 233, 201);
  padding: 10px;
  margin: 10px;
  border-radius: 5%;
  width: auto;
}
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
  &::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }
}
button.primary {
  display: flex;
  font-size: 0.8rem;
  color: #3a351d !important;
  background: rgb(241, 236, 204);
  padding: 0;
  margin: 10px;
  border-radius: 17px;
  transition: background-color 0.1s ease;
  width: 90%;
  height: auto;
  transition: all 0.25s ease;
  border: 0;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px rgb(74, 62, 27);
  &:hover {
    box-shadow: 0 20px 20px -10px rgb(80, 68, 41);
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
:root {
  --vs-primary: 29 92 255;
}
.modals {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  margin: 20px;
  width: 100%;
  border-radius: 10%;
  margin-top: 50px;
}
.modals img {
  max-width: 300px;
  width: 300px;
  height: 200px;
  border-radius: 5%;
}
.modal1 {
  padding: 20px;
  margin: 20px;
  width: 400px;
}
.modal2 {
  padding: 20px;
  padding: 20px;
  margin: 20px;
  width: 400px;
}
.modal3 {
  padding: 20px;
  margin: 20px;
  width: 400px;
}

/* css when screen is max 700px wide */
@media screen and (max-width: 700px) {
  .about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
    background-color: #f4ebd6;
    padding: 30px;
    margin: 20px;
    border-radius: 10%;
    width: 85%;
    height: auto;
  }
  .about-me img {
    width: 85%;
    height: auto;
    margin: 5px;
    padding: 0px;
    border-radius: 10%;
  }
  form {
    margin: 20px;
    padding: 20px;
    width: 85%;
    height: auto;
    border: 1px solid #543f3f;
    border-radius: 30px;
    background-color: #fff6e2;
  }
  .date {
    float: left;
    text-align: left;
    width: 100%;
  }
  .CV-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cv-aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgb(65, 55, 31);
  }
  .work-education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 0;
  }
}
